<div class="jumbotron">
  <h1 class="display-4">Dependency Inection pattern</h1>
  <p class="lead">
    Dependency Injection is an extremely common and useful design pattern, it is
    the ability to add the functionality of components at runtime. The goal of
    the dependency injection technique is to remove this dependency by
    separating the usage from the creation of the object. This reduces the
    amount of required boilerplate code and improves flexibility.
  </p>
  <img
    src="../../../../../assets/1_NrNWDYjMUb8n5T701_ibKw.png"
    class="img-fluid"
    alt="Responsive image"
  />
  <hr class="my-4" />
</div>
<!--  -->
<div class="jumbotron">
  <h1 class="display-4">Observer pattern</h1>
  <p class="lead">
    The observer pattern is a software design pattern in which an object, called
    the subject, maintains a list of its dependents, called observers, and
    notifies them automatically of any state changes, usually by calling one of
    their methods. An Observable is a stream of asynchronous events that can be
    processed with array-like operators. Angular uses RxJS to implement the
    Observable pattern.
  </p>
  <img
    src="../../../../../assets/de3.png"
    class="img-fluid"
    alt="Responsive image"
  />
  <hr class="my-4" />
</div>
<!--  -->
<div class="jumbotron">
  <h1 class="display-4">Singleton pattern</h1>
  <p class="lead">
    In software engineering, the singleton pattern is a software design pattern
    that restricts the instantiation of a class to one. This is useful when
    exactly one object is needed to coordinate actions across the system. There
    are two ways to make a service a singleton in Angular: Declare that the
    service should be provided in the application root. Include the service in
    the AppModule or in a module that is only imported by the AppModule.
    Beginning with Angular 6.0, the preferred way to create a singleton service
    is to specify on the service that it should be provided in the application
    root. This is done by setting providedIn to root on the service's
    @Injectable decorator:
  </p>
  <img
    src="../../../../../assets/1_O7KZCzg-GeZZfOV8mjQGEA.png"
    class="img-fluid"
    alt="Responsive image"
  />
  <hr class="my-4" />
</div>
